@use "./abstracts/colors";

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: map-get(colors.$baseColors, "background");
    font-family: 'Ubuntu', sans-serif;
    padding: 3rem;
}

main{
    width: 95vw;
    height: 90vh;
    padding: 5rem;
    background: map-get(colors.$baseColors, "mainbackground");  
    display: flex;
    justify-content: center;
    flex-direction: column;  
}