@use "../abstracts/colors";

.mainSection{
    width: 100%;
    height: 81%;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;

    &__left{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 2rem;

        &__cards{
            border: solid map-get(colors.$baseColors, "background") 0.3rem;
            width: 28rem;
            height: 28rem;
            position: relative;

            &__img{
                width: 100%;
                height: 100%;
                object-fit: cover;

                &--datum{
                    position: absolute;
                    font-size: 1.1rem;
                    bottom: 1%;
                    right: 1%;
                    background: map-get(colors.$baseColors, "backgroundtextcards");
                    color: map-get(colors.$baseColors, "colortextcards");
                    font-weight: 200;
                }
            }

            &__infotext{
                position: absolute;
                font-size: 1.1rem;
                bottom: 1%;
                left: 1%;
                background: map-get(colors.$baseColors, "backgroundtextcards");
                color: map-get(colors.$baseColors, "colortextcards");;
                font-weight: 200;
            }
        }
    }

    &__right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__container{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            &__card{
                // background: purple;
                border: solid map-get(colors.$baseColors, "background") 0.3rem;
                width: 100%;
                height: 28rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
    
            &__text{
                font-weight: 400;
                width: 100%;
                padding: 2rem;
                font-size: 1.5rem;
            }

            &__buttonWrapper{
                width: 97%;
                display: flex;
                justify-content: space-between;
            }

            &__button{
                display: inline-block;
                padding: 1rem 2rem;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                border: none;
                background-color: map-get(colors.$baseColors, "background");
                color: map-get(colors.$baseColors, "colortextcards");;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                width: 27rem;
                height: 3rem;

                &:hover{
                    background-color: map-get(colors.$baseColors, "hovorcolor");;
                }
            }
        }
    }
}

a:link, a:visited {
    background-color: map-get(colors.$baseColors, "background");
    color: map-get(colors.$baseColors, "colortextcards");;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 5.5rem;
    width: 13rem;
    border-radius: 5%;
  }
  
  a:hover, a:active {
    background-color: map-get(colors.$baseColors, "hovorcolor");;
  }

